.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	@media (min-width: 990px) {
		width: 60vw;
	}
}

.content {
	margin-top: 5%;
	padding: 2rem;
	background-color: #3a3f4cb4 !important;
	border: 1px solid #48525f;
	border-radius: 20px;
	background-image: url("/images/bg-banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card {
	/* background-color: #85524160 !important; */
	background-color: #a34d3cb0 !important;
}


.CardContent span {
	@media (max-width: 900px) {
		font-size: 30px;
	}
}

.prayer-name {
	font-weight: normal;
	color: #ddd;
	font-size: 25px;
}

.css-1urk9zy-MuiGrid2-root {
	width: 100%;
	flex-direction: column !important;
}

.MuiOutlinedInput-notchedOutline {
	border-color: white !important;
}

.MuiSvgIcon-root {
	color: #fff !important;
}

.MuiGrid2-container {
	@media (max-width: 900px) {
		text-align: center;
	}
}

.MuiInputBase-root.MuiOutlinedInput-root fieldset {
	border-color: #fff !important;
}

.MuiGrid2-root {
	width: 100%;
}

.css-1u50223-MuiGrid2-root {
	justify-content: space-around;
	align-items: center;
}

.MuiMenu-list {
	background-color: #855241ed;
}

.MuiMenu-list .MuiButtonBase-root,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	color: #fff;
	font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

.MuiFormControl-root {
	@media (max-width: 600px) {
		width: 90% !important;
	}
}