@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

html {
	direction: rtl;
	font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

body {
	/* background-color: #f9f9f9; */
	background-image: url("/images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	display: flex;
	@media (min-width: 600px) {
		width: 100vw;
		place-items: center;
	}
	min-width: 320px;
	min-height: 100vh;
}